::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.dialog-view {
    &>div {
        &>div {
            z-index: 11;
        }

        &.mask {
            background-color: rgb(230 227 227 / 53%);
            position: fixed;
            left: 0;
            top: 0;
            width: 100vw;
            height: 100vh;
            display: none;
            z-index: 10;

            &:not(:last-child) {
                display: block;
            }
        }
    }
}