body {
    overflow: hidden;
}

/* 滚动条 */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 2.5px rgb(0 0 0 / 30%);
    box-shadow: inset 0 0 2.5px rgb(0 0 0 / 30%);
    border-radius: 2.5px;
    background-color: #9da0a4;
    opacity: .7;
    transition: opacity ease-in-out 200ms;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2.5px rgb(0 0 0 / 30%);
    box-shadow: inset 0 0 2.5px rgb(0 0 0 / 30%);
    border-radius: 2.5px;
    background-color: #F5F5F5;
}

// 窗口按钮
.win-btns {
    position: absolute;
    right: 20px;
    top: -0.5px;
    font-size: 0;

    &>button {
        font-size: 0;
        height: 24px;
        vertical-align: top;
        outline: none;
        border: none;
        background-repeat: no-repeat;
        background-position-y: center;
        background-size: auto 100%;
        cursor: pointer;
        margin: 0 !important;
        background-color: transparent !important;

        &.min {
            background-image: url("../../../images/min-btn.png");
            width: 36px;
        }

        &.close {
            background-image: url("../../../images/close-btn.png");
            width: 59px;
        }

        &.max {
            background-image: url("../../../images/max-btn.png");
            width: 34px;
        }
    }
}