.blank-view {
    background-color: rgb(240, 240, 240);
    height: 100vh;

    &>.search {
        position: fixed;
        text-align: center;
        background-color: rgb(255, 255, 255);
        height: 80px;
        width: 100vw;
        left: 0;
        top: 0;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);

        &>input {
            width: 700px;
            outline: none;
            border: 2px solid rgb(88, 157, 222);
            height: 50px;
            line-height: 50px;
            margin-top: 15px;
            padding: 0 5px;
            background-image: url("../../../../images/bing.jpeg");
            padding-left: 50px;
            background-position: 10px center;
            background-repeat: no-repeat;
            background-size: auto 90%;
            border-radius: 5px;
            color: rgb(63, 62, 62);
            font-size: 18px;
            font-weight: 200;

            &:focus {
                border-color: rgb(9, 93, 171);
            }
        }
    }

    &>.tools {
        padding: 90px 0 10px 0;

        &>ul {
            background-color: white;
            width: 860px;
            margin: auto;
            padding: 10px;

            &>li {
                width: 200px;
                height: 160px;
                padding-top: 120px;
                line-height: 40px;
                text-align: center;
                display: inline-block;
                margin: 5px;
                box-sizing: border-box;
                background-size: 60% auto;
                background-repeat: no-repeat;
                background-position: center top;
                cursor: pointer;

                &:hover {
                    outline: 1px solid rgb(175, 174, 174);
                }

                &.talker {
                    background-color: rgb(230, 253, 246);
                    background-image: url("../../../../images/talker.png");
                }
            }
        }
    }

    &>.aboutUS {
        position: fixed;
        left: 10px;
        bottom: 10px;
        color: black;
        font-size: 12px;
        background-color: rgb(88, 157, 222);
        color: white;
        border-radius: 5px;
        padding: 5px 10px;
        border: none;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}