.index-view {

    &>header {
        height: 30px;
        background-color: transparent;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        -webkit-app-region: drag;
        z-index: 1;

        &>div {
            &.win-btns {
                -webkit-app-region: no-drag;
            }
        }
    }

    &>div {
        &.top {
            background-color: rgba(183, 218, 253, 0.85);
            border-bottom: 1px solid gray;

            &>div {
                &.content {
                    height: 60px;

                    &>* {
                        vertical-align: bottom;
                    }

                    &>span {
                        display: inline-block;

                        &.logo {
                            width: 50px;
                            height: 60px;
                            background-image: url("../../../../images/logo.png");
                            background-repeat: no-repeat;
                            background-position: center bottom;
                            background-size: 90% auto;
                        }
                    }

                    &>input {
                        width: calc(100% - 100px);
                        outline: none;
                        border: 1px solid rgb(208, 207, 207);
                        border-radius: 5px;
                        height: 30px;
                        padding: 0 5px;
                        background-image: url("../../../../images/bing.jpeg");
                        padding-left: 35px;
                        background-position: 10px center;
                        background-repeat: no-repeat;
                        background-size: auto 90%;
                        border-radius: 15px;
                        color: rgb(63, 62, 62);

                        &:focus {
                            outline: 1px solid rgb(63, 130, 192);
                            border-color: rgb(63, 130, 192);
                        }
                    }

                    &>button {
                        height: 30px;
                        width: 40px;
                        background-image: url("../../../../images/refresh.png");
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: auto 20px;
                        outline: none;
                        border: none;
                        background-color: transparent;
                        font-size: 0;
                        cursor: pointer;

                        &:hover {
                            background-size: auto 22px;
                        }
                    }
                }

                &.navs {
                    padding-top: 5px;
                    height: 35px;
                    display: flex;

                    &>span {
                        line-height: 30px;
                        background-image: radial-gradient(rgba(255, 255, 255, 0), rgba(236, 230, 230, 0.489));
                        font-size: 12px;
                        flex-basis: 200px;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        padding-right: 15px;
                        position: relative;
                        border: 1px solid rgb(197, 195, 195);
                        margin-left: 2px;
                        cursor: pointer;
                        user-select: none;

                        &.active {
                            background-image: radial-gradient(white, white);
                        }

                        &>em {
                            background-size: auto 70%;
                            background-position: 5px center;
                            background-repeat: no-repeat;
                            width: 30px;
                            height: 100%;
                            display: inline-block;
                            vertical-align: top;
                        }

                        &>i {
                            position: absolute;
                            top: 0;
                            right: 0;
                            width: 20px;
                            line-height: 30px;
                            text-align: center;
                            font-style: normal;
                        }

                        &.play {
                            padding-right: 30px;
                        }

                        &>span {
                            &.audio {
                                display: none;

                                &.play {
                                    display: inline-block;
                                    width: 30px;
                                    height: 30px;
                                    background-image: url("../../../../images/audio.png");
                                    position: absolute;
                                    right: 10px;
                                    top: 0;
                                    background-position: center center;
                                    background-repeat: no-repeat;
                                    pointer-events: none;
                                }
                            }
                        }
                    }

                    &>button {

                        border: none;
                        outline: none;
                        font-size: 14px;
                        width: 30px;
                        height: 20px;
                        vertical-align: top;
                        margin-top: 5px;
                        background-color: transparent;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}